RABBITMQ_API_URL=https://rabbit.herbhub365.com/api
RABBITMQ_USER=admin
RABBITMQ_PASS=change-me
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=sensor.snapshots
RABBITMQ_ROUTING_KEY=sensor.snapshots
RABBITMQ_DURABLE=true
RABBITMQ_AUTO_DELETE=false
RABBITMQ_DELIVERY_MODE=2
KEEP_SNAPSHOT_JSON=false
SNAPSHOT_OUTPUT_PATH=./snapshot.json
